/.idea/
/payments-service/.gradle/vcs-1/gc.properties
/payments-service/build/test-results/test/binary/results.bin
/products-service/.gradle/checksums/md5-checksums.bin
/products-service/build/test-results/test/binary/output.bin
/products-service/build/libs/products-service-1.0.0-SNAPSHOT.jar
/products-service/.gradle/6.3/fileChanges/last-build.bin
/products-service/build/resources/main/application-local.yaml
/payments-service/build/classes/java/main/com/shopping/payments/PaymentController$PaymentRequest.class
/payments-service/build/classes/java/test/com/shopping/payments/PaymentControllerTest.class
/products-service/build/test-results/test/TEST-com.shopping.products.ProductControllerTest.xml
/payments-service/build/test-results/test/TEST-com.shopping.payments.PaymentServiceTest.xml
/payments-service/build/classes/java/main/com/shopping/payments/PaymentsServiceMain.class
/products-service/build/reports/tests/test/classes/com.shopping.products.ProductControllerTest.html
/payments-service/.gradle/checksums/checksums.lock
/products-service/build/reports/tests/test/js/report.js
/products-service/build/reports/tests/test/packages/com.shopping.products.html
/payments-service/build/reports/tests/test/css/base-style.css
/products-service/build/distributions/products-service-1.0.0-SNAPSHOT.tar
/payments-service/build/test-results/test/TEST-com.shopping.payments.PaymentsServiceMainTest.xml
/products-service/build/distributions/products-service-boot-1.0.0-SNAPSHOT.tar
/products-service/build/scripts/products-service
/payments-service/build/resources/main/application-local.yaml
/payments-service/build/resources/main/application.yaml
/products-service/.gradle/checksums/checksums.lock
/products-service/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/payments-service/build/classes/java/test/com/shopping/payments/PaymentsServiceMainTest.class
/payments-service/build/distributions/payments-service-1.0.0-SNAPSHOT.zip
/payments-service/.gradle/6.3/fileHashes/fileHashes.lock
/products-service/build/test-results/test/TEST-com.shopping.products.ProductServiceTest.xml
/payments-service/build/classes/java/main/com/shopping/payments/PaymentController.class
/payments-service/.gradle/6.3/fileChanges/last-build.bin
/payments-service/build/classes/java/main/com/shopping/payments/ExceptionControllerAdvice$ServiceError.class
/products-service/build/distributions/products-service-boot-1.0.0-SNAPSHOT.zip
/payments-service/build/tmp/bootJar/MANIFEST.MF
/payments-service/build/classes/java/test/com/shopping/payments/PaymentServiceTest.class
/payments-service/build/reports/tests/test/classes/com.shopping.payments.PaymentServiceTest.html
/products-service/build/bootScripts/products-service.bat
/products-service/build/test-results/test/binary/output.bin.idx
/payments-service/.gradle/buildOutputCleanup/cache.properties
/payments-service/build/reports/tests/test/js/report.js
/payments-service/build/distributions/payments-service-boot-1.0.0-SNAPSHOT.tar
/products-service/build/reports/tests/test/classes/com.shopping.products.ProductServiceTest.html
/payments-service/build/classes/java/main/com/shopping/payments/ExceptionControllerAdvice.class
/payments-service/build/bootScripts/payments-service.bat
/products-service/build/bootScripts/products-service
/payments-service/build/classes/java/main/com/shopping/payments/PaymentService$Payment$PaymentBuilder.class
/products-service/.gradle/checksums/sha1-checksums.bin
/payments-service/build/reports/tests/test/packages/com.shopping.payments.html
/payments-service/build/reports/tests/test/classes/com.shopping.payments.PaymentsServiceMainTest.html
/payments-service/build/test-results/test/TEST-com.shopping.payments.PaymentControllerTest.xml
/payments-service/build/scripts/payments-service
/products-service/build/classes/java/main/com/shopping/products/Product$ProductBuilder.class
/products-service/build/distributions/products-service-1.0.0-SNAPSHOT.zip
/payments-service/build/classes/java/main/com/shopping/payments/PaymentService.class
/products-service/build/scripts/products-service.bat
/products-service/build/test-results/test/binary/results.bin
/products-service/build/classes/java/main/com/shopping/products/ProductsServiceMain.class
/products-service/build/classes/java/test/com/shopping/products/ProductServiceTest.class
/products-service/build/classes/java/main/com/shopping/products/ProductController.class
/payments-service/.gradle/checksums/md5-checksums.bin
/payments-service/build/classes/java/main/com/shopping/payments/PaymentService$Payment.class
/payments-service/build/classes/java/main/com/shopping/payments/PaymentException.class
/products-service/build/classes/java/test/com/shopping/products/ProductsServiceMainTest.class
/payments-service/build/distributions/payments-service-1.0.0-SNAPSHOT.tar
/products-service/build/reports/tests/test/index.html
/payments-service/build/reports/tests/test/classes/com.shopping.payments.PaymentControllerTest.html
/products-service/.gradle/vcs-1/gc.properties
/products-service/.gradle/buildOutputCleanup/cache.properties
/products-service/build/resources/main/application.yaml
/payments-service/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/products-service/build/classes/java/test/com/shopping/products/ProductControllerTest.class
/payments-service/build/test-results/test/binary/output.bin.idx
/products-service/build/classes/java/main/com/shopping/products/Product.class
/payments-service/build/libs/payments-service-1.0.0-SNAPSHOT.jar
/products-service/.gradle/6.3/fileHashes/fileHashes.lock
/payments-service/build/classes/java/main/com/shopping/payments/PaymentController$PaymentResponse.class
/products-service/build/reports/tests/test/classes/com.shopping.products.ProductsServiceMainTest.html
/payments-service/build/distributions/payments-service-boot-1.0.0-SNAPSHOT.zip
/payments-service/build/scripts/payments-service.bat
/products-service/build/reports/tests/test/css/style.css
/payments-service/.gradle/6.3/gc.properties
/payments-service/build/reports/tests/test/index.html
/payments-service/build/classes/java/main/com/shopping/payments/PaymentException$ErrorCode.class
/products-service/build/reports/tests/test/css/base-style.css
/products-service/build/test-results/test/TEST-com.shopping.products.ProductsServiceMainTest.xml
/products-service/build/tmp/bootJar/MANIFEST.MF
/payments-service/.gradle/checksums/sha1-checksums.bin
/payments-service/build/reports/tests/test/css/style.css
/payments-service/build/bootScripts/payments-service
/products-service/build/classes/java/main/com/shopping/products/ProductService.class
/payments-service/build/test-results/test/binary/output.bin
/products-service/.gradle/6.3/gc.properties
/payments-service/build/classes/java/main/com/shopping/payments/ExceptionControllerAdvice$1.class
